.store {
  @include store;
  &__container {
  display: grid;

  @include brows-icon;
  }
  &__card {
  @include brows-height;
  @include header-icon-hover (transform, scale(1.1));

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-parrot {
    grid-area: parrot;
    background-image: url(/src/styles/img/parrot.png);
  }

  &-headphones {
    grid-area: headphones;
    background-image: url(/src/styles/img/headphones.png);
  }

  &-earphone {
    grid-area: earphone;
    background-image: url(/src/styles/img/earphone.png);
  }

  &-rectangularBox {
    grid-area: rectangularBox;
    background-image: url(/src/styles/img/rectangularBox.png);
  }

  &-phone {
    grid-area: phone;
    background-image: url(/src/styles/img/phone.png);
  }

  &-charger {
    grid-area: charger;
    background-image: url(/src/styles/img/charger.png);
  }
}
  &__title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 40px;

        @media (min-width: 744px) {
    font-size: 24px;
    margin-bottom: 56px;
  }
  }
  &__title--1 { grid-area: title1; }
  &__title--2 { grid-area: title2; }
  &__title--3 { grid-area: title3; }
}
