@import '../utils/mixins';

.content {
  display: grid;

  @include columns;

  gap: 40px;
  justify-content: center;
  margin-top: 48px;
}

.infoTitle {
  display: flex;
  line-height: 36px;

  @include info-title;

  background: linear-gradient(270deg, #3498db, #9b59b6, #e74c3c, #f1c40f, aqua, #000);
  background-size: 800% 800%;
  background-position: 0% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradient 4s linear infinite;

  // &-contact{
  //   margin-bottom: 48px
  // }
}

.products {
  @include margin-card;
  &__card {
    display: block;
    width: 100%;
    margin: 0;

    @include header-icon-hover (transform, scale(1.1));
    &-phone {
      @include main-img;

      background-image: url(/src/styles/img/SmartPhone.png);
    }
    &-podes {
      @include main-img;

      background-image: url(/src/styles/img/podes.png);
    }
    &-ear {
      @include main-img;

      background-image: url(/src/styles/img/EarStick.png);
    }
    &-title {
      margin-bottom: 8px;
      color: --color-basic;
      font-size: 18px;
      font-weight: 700;
    }
    &-info {
      font-size: 16px;
      color: --color-basic;
      margin-bottom: 12px;
    }
    &-price {
      font-weight: 700;
      font-size: 16px;
      color: --color-basic;
    }
  }
}

