@import '../utils/mixins';

.footer {
  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    input:hover {
      border-color: $--Bcolor-button ;
      background-color: var($--Hcolor-button);
    }
    textarea:hover {
      border-color: $--Bcolor-button;
    }
    //     input:invalid {
    //   border: 2px solid red;
    // }

    &-text {
    border-radius: 8px;
    height: 48px;
    padding-left: 10px;

    @include footer-form;
    &:hover {
      color: $--Bcolor-button;
    }
    }
    &-message {
      height: 148px;
      border-radius: 8px;
      padding: 10px 10px;
      resize: none;

      @include footer-form;
    }
  }
  &__container {
    display: grid;

    @include footer-container;
  }
  &__img {
  background-image: url(/src/styles/img/footer.png);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
  }
  &__title {
    grid-area: footer__title;
  }
  &__text {
    grid-area: footer__text;
    margin-top: 24px;
  }
  &__contact {
    display: grid;
    grid-area: footer__contact;

    // margin-bottom: 48px;
    // @media (min-width: 744px) {
    //   margin-bottom: 80px;
    // }
  }
  &__information {
    grid-area: footer__information;
    margin-bottom: 24px;
    align-content: flex-end;
      &-title {
    margin-bottom: 16px;
    color: #9393A3;
    text-decoration: none;
    &:hover {
    color: goldenrod;
    transition: transform 300ms, color 300ms, background-color 300ms;
    position: relative;
  }
  }
  }
}

.title__contacts {
  margin-bottom: 48px;
}

input::placeholder {
  color: #7E7E83;
}


  .button {
    margin-top: 10px;
    &-click {
      width: 100%;
      color: #FFFFFF;
      text-decoration: none;
      grid-area: button;

      border: $--border;;
      border-radius: 8px;

      background-color: $--Bcolor-button;
      height: 56px;
      line-height: 56px;
      text-align: center;
      font-size: 16px;

      &:hover {
        background-color: $--Hcolor-button;
        color: $--Bcolor-button;
      }
    }
  }
