@import '../utils/mixins';

.footer {
  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    input:hover {
      border-color: blue ;
      background-color: var($--Hcolor-button);
    }
    input:invalid {
      border: 2px solid red;
    }
    textarea:hover {
      border-color: #292929;
      background-color: var($--Hcolor-button);
    }

    &-text {
    border-radius: 8px;
    height: 48px;

    @include footer-form;
    }
    &-message {
      height: 148px;
      border-radius: 8px;

      @include footer-form;
    }
  }
  &__container {
    display: grid;

    @include footer-container;
  }
  &__img {
  background-image: url(/src/styles/img/footer.png);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
  }
  &__title {
    grid-area: footer__title;
  }
  &__text {
    grid-area: footer__text;
    margin-top: 24px;
  }
  &__contact {
    display: grid;
    grid-area: footer__contact;

    // margin-bottom: 48px;
    // @media (min-width: 744px) {
    //   margin-bottom: 80px;
    // }
  }
  &__information {
    grid-area: footer__information;
    margin-bottom: 24px;
    align-content: flex-end;
      &-title {
    margin-bottom: 8px;
    color: #9393A3;
  }
  @media (min-width: 1260px) {
    .footer__information {

    }
    .footer__information-string {
      margin-bottom: 24px;
    }
  }
  }
}

.title__contacts {
  margin-bottom: 48px;
}

input::placeholder {
  color: #7E7E83;
}


  .button {
    margin-top: 10px;
    &-click {
      width: 100%;
      color: #FFFFFF;
      text-decoration: none;
      grid-area: button;

      border: 2px solid #F0F1F4;
      border-radius: 8px;

      background-color: $--Bcolor-button;
      height: 56px;
      line-height: 56px;
      text-align: center;
      font-size: 16px;

      &:hover {
        background-color: $--Hcolor-button;
        color: $--Bcolor-button;
      }
    }
  }
