// @import './utils/mixins';

.icon {
  display: block;

  @include header-icon;

  background-size: cover;

  @include header-icon-hover (transform, scale(1.2));
&--phone {
  background-image: url(/phone__icon.png);
}

&--menu {
  background-image: url(/badger__menu.png);
}

&--close {
  background-image: url(/Icon-Close.png);
}
}
